@page "/super-heroes"
@page "/"
@using Microsoft.AspNetCore.Authorization
@inject NavigationManager NavigationManager
@inject ISuperHeroesService SuperHeroesService

<SuperHeroesList Items="@_heroesList">
    <HeroItemContent>
            <div class="col-md-3">
                <div class="card mb-4 box-shadow" style="height:7rem;">
                    <div class="card-body">
                        <p class="card-text">@context.Character</p>
                        @{
                            var linkToHeroDetails = $"/super-heroes/{context.Id}";
                        }
                        <NavLink Match="NavLinkMatch.All" href="@linkToHeroDetails">See more...</NavLink>
                    </div>
                </div>
            </div>
    </HeroItemContent>
    <AddHeroItemContent>
        <div class="col-md-3">
            <div class="card mb-4 box-shadow" style="height: 7rem;">
                <div class="card-body">
                    <button type="button" class="btn btn-sm btn-outline-secondary" @onclick="@NavigateToCreateHeroComponent">
                        <span class="oi oi-plus" aria-hidden="true"></span>
                        Create hero
                    </button>
                </div>
            </div>
        </div>
    </AddHeroItemContent>
</SuperHeroesList>

@code{
    private List<SuperHeroModel> _heroesList;

    private void NavigateToCreateHeroComponent()
    {
        NavigationManager.NavigateTo("super-heroes/create");
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _heroesList = await SuperHeroesService.GetSuperHeroesAsync();
    }
}