@typeparam TItem

<div class="container">
    <div class="row">
        @foreach (var hero in Items)
        {
            @HeroItemContent(hero)
            <SuperHeroesListItem Hero="@hero">
                
            </SuperHeroesListItem>
        }
        @AddHeroItemContent
    </div>
</div>

@code{
    [Parameter]
    public List<TItem> Items { get; set; }
        
    [Parameter]
    public RenderFragment AddHeroItemContent { get; set; }
        
    [Parameter]
    public RenderFragment<TItem> HeroItemContent { get; set; }
}
