<div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
        <AuthorizeView Policy="DemoPolicy">
            <Authorized>
                <NavLink class="navbar-brand d-flex align-items-center" Match="NavLinkMatch.All" href="/logout">Log out</NavLink>
            </Authorized>
            <NotAuthorized>
                <NavLink class="navbar-brand d-flex align-items-center" Match="NavLinkMatch.All" href="/login">Log in</NavLink>
                <NavLink class="navbar-brand d-flex align-items-center" Match="NavLinkMatch.All" href="/sign-up">Sign up</NavLink>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>